
<head></head>
<body>
  <h1>Books</h1>
  <main>

    <header>
      <head-1 >title</head-1>
      <head-2 >body</head-2>
    </header>
    <main>
   <% @books.each do |book| %>
      <span> <%= book.title %> </span>
      <span><%= book.body %></span>
      <a href=>Show</a>
      <a href=>Edit</a>
      <a><%= link_to "Destroy", book_path(@book.id)  method:delete ,"data-confirm" => "本当に削除しますか？" %></a>
      <br>
    </main>
  <% end %>
  </main>
</body>


<h3>New book</h3>
<%=form_with model:@book do |t| %>
 <h4>title</h4>
  <%= t.text_field :title %>

  <h4>body</h4>
  <%= t.text_area :body %>
 <%= t.submit 'Create Book' %>
<% end %>

