<!DOCTYPE html>
<h1>Books</h1>
<% @books.each do |book| %>

<span> <%= book.title %> </span>
<span><%= book.body %></span>

<% end %>



<h3>New book</h3>
<%=form_with model:@book do |t| %>
 <h4>title</h4>
  <%= t.text_field :title %>

  <h4>body</h4>
  <%= t.text_area :body %>
 <%= t.submit 'Create Book' %>
<% end %>

